body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    border: 12px solid darkred;
    box-sizing: border-box;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: darkred;
    margin: 0;
  }
  
  nav ul li {
    margin: 10px 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
  }
  
  nav ul li a:hover {
    color: red;
  }
  
  h1, h2 {
    color: darkred;
    text-align: center;
  }
  
  td, th {
    border: 1px solid black;
    padding: 8px;
  }
  
  img {
    display: block;
    max-width: 250px;
    height: auto;
    margin: 10px auto;
    border: 4px solid darkred; 
    border-radius: 8px; 
  }
  footer {
    text-align: center;
    margin-top: 40px;
    padding: 15px;
    background-color: darkred;
    color: white;
    font-weight: bold;
    border-top: 4px solid black;
  }
